@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

//color palette
$colors: (
  _primary: #1eb4f5,
  //for bg and btns
  _primary-dark: #1c8cbc,
  _grey-dark: #374b57,
  //for bg
  _grey-light: #abafb3,
  // for icons
  _white: #fafafa,
  //for important text
  _black: #0b0e12,
  _red: #ff0000,
  _green: #008000,
);

//function to return colors by name
@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
  color: getColor(_white);
}

.app-container {
  background: getColor(_primary);
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background: getColor(_grey-dark);
  height: 63rem;
  width: 93rem;
  border-radius: 0.5rem;
  padding: 3.5rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px getColor(_black);
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .form-container {
    display: flex;
    flex-direction: column;
    flex: 3;

    h1 {
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 1.2rem;
      color: getColor(_primary);
      margin-bottom: 2rem;
    }

    .form-add-input {
      font-size: 1.4rem;
      margin: 0rem 1rem 1rem 0;
      padding: 1rem 0 1rem 1rem;
      width: 35rem;
      background: getColor(_white);
      border: none;
      border-radius: 2px;
    }

    .form-submit-btn {
      background: getColor(_primary);
      color: getColor(_white);
      padding: 1rem 2rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  nav {
    display: flex;
    flex: 2;
    justify-content: flex-end;

    .nav-item {
      font-size: 1.6rem;
      list-style-type: none;
      padding-left: 2rem;
      color: getColor(_grey-light);

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      color: getColor(_white);
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: getColor(_grey-light);
  margin: 3rem 0;
}

.last {
  background: getColor(_grey-dark);
}

.tasks-section {
  width: 100%;
  font-size: 1.6rem;
  ul {
    li {
      list-style-type: none;
    }
  }

  #task-list {
    overflow: hidden;
    overflow-y: auto;

    .task:last-child {
      .divider {
        display: none;
      }
    }
  }

  // for one single task row
  .task-container {
    display: flex;
    justify-content: space-between;

    .complete {
      text-decoration: line-through;
    }
    .incomplete {
      text-decoration: none;
    }
    .task-revert {
      color: getColor(_grey-light);
      &:hover {
        color: getColor(_green);
        cursor: pointer;
      }
    }
    .task-finish {
      color: getColor(_grey-light);
      &:hover {
        color: getColor(_green);
        cursor: pointer;
      }
    }
    .task-delete {
      color: getColor(_grey-light);
      &:hover {
        color: getColor(_red);
        cursor: pointer;
      }
    }
  }
  p i {
    margin-right: 1rem;
  }
}

//===Media queries===
@media (min-width: 800px) {
  #task-list {
    overflow: hidden;
    overflow-y: auto;
    max-height: 40rem;
  }
}

@media (max-width: 800px) {
  html,
  body {
    font-size: 60%;
  }
  // making main container full size
  .main-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .header-section {
    flex-direction: column;

    // center aligning nav tabs
    nav {
      margin-top: 2rem;
      justify-content: space-around;
    }

    // making form field cover full width
    .form-container {
      width: 100%;
      align-items: stretch;
      .add-task-form {
        display: flex;
        align-items: stretch;
        #task-title-input {
          flex: 2;
        }
        #form-submit-btn {
          font-size: 1.2rem;
        }
      }

      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }

  #task-list {
    max-height: 45rem;
  }
}

@media (max-width: 460px) {
  html,
  body {
    font-size: 60%;
  }

  #task-list {
    max-height: 80rem;
  }
}

@media (max-width: 410px) {
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 50%;
  }

  #task-list {
    font-size: 110%;
    max-height: 60rem;
  }

  .header-section .form-container {
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 340px) {
  html,
  body {
    font-size: 30%;
  }

  nav {
    font-size: 12px;
  }

  .header-section .form-container {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2.2rem;
    }

    .add-task-form {
      #form-submit-btn {
        font-size: 2rem;
      }
    }
  }

  .task-container {
    font-size: 1.5em;
  }

  #task-list {
    font-size: 110%;
    max-height: 110rem;
  }

  #nav-incomplete,
  #nav-complete {
    font-size: 100%;
  }
}

// height
@media (max-height: 825px) {
  #task-list {
    max-height: 400px;
  }
}
